@model Product

<div style="width: 50%; margin: auto; background-color: lightcoral; padding: 20px; border-radius: 5px; border: 2px solid black;">
    <h1 style="text-align: center;">Видалення продукту</h1>
    <h3>Ви впевнені, що хочете видалити продукт <b>@Model.Name</b>?</h3>

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id" />
        <div style="text-align: center; margin-top: 15px;">
            <input type="submit" value="Видалити" class="btn btn-danger" />
            <a class="btn btn-secondary" asp-action="Index">Скасувати</a>
        </div>
    </form>
</div>
