@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container mt-5 d-flex justify-content-center">
    <div class="card p-4 shadow-lg mt-4" style="width: 550px;">
            <h2 class="text-center mb-3">Register</h2>
            <form>
                <div class="mb-3">
                    <label for="reg-username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="reg-username" placeholder="Enter username">
                </div>
                <div class="mb-3">
                    <label for="reg-email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="reg-email" placeholder="Enter email">
                </div>
                <div class="mb-3">
                    <label for="reg-password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="reg-password" placeholder="Enter password">
                </div>
                <button type="submit" class="btn btn-success w-100">Register</button>
            </form>
    </div>
</div>